<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-student-Exception:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_student_Exception_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-student-Exception/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-student-Exception" />
        </element>
      </element>
    </root>
  </artifact>
</component>